<%- include('./partials/head') %>

<main>
    <section class="wrapper-contain">
        <!-- <section class="header-top">
            <nav>   
                <img src="" alt="Logo PlantSwap">
                <ul>
                    <li><a href="">Over Ons</a></li>
                    <li><a href="">Stekjes</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Stekje Aanmelden</a></li>
                </ul>   
            </nav>
        </section> -->
        <section class="intro-contain" id="Intro">
            <h1>PlantSwap Amsterdam</h1>
            <p>Heb jij een of meerdere plantenstekjes over en zou je die graag willen ruilen voor een nieuw plantje? Bekijk hieronder ons aanbod.</p>
            <a href="#">Bekijk Stekjes</a>
            <a href="#">Lees Meer</a>
            <svg class="blue-points"
                width="62" height="208" viewBox="0 0 62 208" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="2" cy="9" r="9" fill="#333467"/>
                <circle cx="2" cy="47" r="9" fill="#333467"/>
                <circle cx="2" cy="85" r="9" fill="#333467"/>
                <circle cx="2" cy="123" r="9" fill="#333467"/>
                <circle cx="2" cy="161" r="9" fill="#333467"/>
                <circle cx="2" cy="199" r="9" fill="#333467"/>
                <circle cx="53" cy="9" r="9" fill="#333467"/>
                <circle cx="53" cy="47" r="9" fill="#333467"/>
                <circle cx="53" cy="85" r="9" fill="#333467"/>
                <circle cx="53" cy="123" r="9" fill="#333467"/>
                <circle cx="53" cy="161" r="9" fill="#333467"/>
                <circle cx="53" cy="199" r="9" fill="#333467"/>
            </svg>                
        </section>
        <section class="new-collection-contain">
            <h3>Nieuwe Stekjes</h3>
            <% stekjes.forEach(stekje => { %>
            <ul>
                <li>
                    <img src="images/PlantSwap-logo-bruin.png" width="200" height="200">
                    <h4> <%= stekje.naam %> </h4>
                    <p> <%= stekje.aanmelddatum %> </p>
                </li>
            </ul>
            <% }) %>

            <svg width="87" height="539" viewBox="0 0 87 539" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M87 1H9V539.5" stroke="#4E7141" stroke-width="2"/>
                <circle cx="9" cy="115" r="9" fill="#333467"/>
                <circle cx="9" cy="173" r="9" fill="#333467"/>
                <circle cx="9" cy="231" r="9" fill="#333467"/>
                <circle cx="9" cy="289" r="9" fill="#333467"/>
                <circle cx="9" cy="347" r="9" fill="#333467"/>
                <circle cx="9" cy="405" r="9" fill="#333467"/>
            </svg>
        </section>
        <section class="slide-image-right">
            <img src="images/pexels-maria-orlova-4913376.jpg">
        </section>
    </section>
</main>

<%- include('./partials/foot') %>
