/* --GLOBAL-- */

:root {
  --primary: #4E7141;
  --secondary: #333467;
  --tertiary: #F26F21;
  --primary-font-color: #818181;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: var(--primary-font-color);
  background-color: white;
}

h1{
  font-size: 2.5rem;
  color: var(--primary);
}

h2{
  font-size: 2.5rem;
  color: var(--primary);
}

h3{
  font-size: 1.2rem;
  color: var(--primary-font-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
}

p{
  font-size: 1rem;
  color: var(--primary-font-color);
  line-height: 1.8rem;
}

/* HEADER  */

.header-top > nav > img{
  width: 10em;
  padding: 3rem 0rem 0rem 3rem;
}

/* NAV BAR  */

.header-top ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 3rem;
  gap: 3rem;
}

.header-top a{
  color: var(--primary-font-color);
  text-decoration: none;
}

.header-top a:hover{
  color: var(--tertiary);
}

/* INTRO  */

.intro-contain{
  padding-left: 3rem;
}

.intro-contain > p{
  padding-bottom: 3rem;
}

.intro-contain > a:nth-child(3){
  background-color: var(--primary);
  color: white;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 25px;
  border: solid 1px var(--primary);
  text-decoration: none;
}

.intro-contain > a:nth-child(4){
  background-color: white;
  color: var(--primary);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 25px;
  border: solid 1.5px var(--primary);
  text-decoration: none;
}

.intro-contain > a:nth-child(3):hover{
  background-color: var(--tertiary);
  border: solid 1px var(--tertiary);
  transition: ease-in 0.2s;
}

.intro-contain > a:nth-child(4):hover{
  background-color: var(--tertiary);
  border: solid 1.5px var(--tertiary);
  color: white;
  transition: ease-in 0.2s;
}

.slide-image-right > img{
  display: none;
}

.blue-points{
  position: absolute;
  top: 15rem;
  left: 0;
}

.new-collection-contain{
  padding: 5rem 0rem 0rem 3rem;
}

.new-collection-contain > h3{
  padding-bottom: 1rem;
}

.blue-points-stroke{
  position: absolute;
  bottom: 0;
  right: 0;
}
